
   .sports ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sports li {
    display: inline-block;
    width: 23%; /* Adjust as needed to accommodate margins and borders */
    margin: 1%;
    box-sizing: border-box; /* Include padding and border in the width */
    border: 2px solid #ccc; /* Add a border around each item */
    padding: 10px; /* Adjust padding as needed */
    /* text-align: center; */
  }
  
  .sports img {
    max-width: 100%; /* Ensure images don't exceed their parent's width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .sports button {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .sports button:hover {
    background-color: #0056b3;
  }
  